################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WindowsFormsApp1/WindowsFormsApp1/bin/Debug
/WindowsFormsApp1/WindowsFormsApp1/obj/Debug
